body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #filterResults {
    margin-top: 20px;
  }
  
  #localStorageContainer {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  strong {
    font-weight: bold;
  }
  
  p {
    font-style: italic;
    color: #666;
  }
  
  /* Оновлені стилі для контейнера з кнопками */
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .buttons-container button {
    margin-right: 10px; /* Додайте відступ між кнопками, якщо потрібно */
  }
  